<template name="listVisitors">
  <div class="panel panel-default" id="list-visitors">
    <div class="panel-heading">
      <h3 class="panel-title">{{title}}</h3>
    </div>
    <div class="panel-body table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>访问时间</th>
          <th>IP地址</th>
          <th>浏览器</th>
          <th>操作系统</th>
          <th>设备</th>
          <th>所在省</th>
          <th>所在市</th>
        </tr>
        </thead>
        {{#if visitors }}
          <tbody>
          {{#each visitor in visitors}}
            <tr>
              <td>{{date visitor.createAt}}</td>
              <td>{{visitor.clientAddress}}</td>
              <td>{{visitor.useragent.agent}}</td>
              <td>{{visitor.useragent.os}}</td>
              <td>{{visitor.useragent.device}}</td>
              <td nowrap>{{visitor.location.address_detail.province}}</td>
              <td nowrap>{{visitor.location.address_detail.city}}</td>
            </tr>
          {{/each}}
          </tbody>
        {{else}}
          <h1>Loading..</h1>
        {{/if}}
      </table>
    </div>
  </div>
</template>