#count-visitors {
  .panel-body {
    font-weight: bold;
    font-size: 200%;
    color: #C23531;
    small {
      color: #8193A3;
      font-weight: lighter;
      font-size: 50%;
    }
  }
}